<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script src="https://cdn.bootcss.com/vue/2.5.12/vue.js"></script>
		<title>mvvm设计模式</title>
	</head>
	<body>
		<div id="app">
			<div v-if="show">{{ message }}</div>
			<div v-else>哈哈</div>
			<p>===========================</p>
			<div v-if="show1 == 'a'">A</div>
			<div v-else-if="show1 == 'b'">B</div>
			<div v-else>other</div>
			<p>===========================</p>
			<h1>给input的框加上key值 vue的diff算法就会去计算不同key，也不会复用input框</h1>
			<div v-if="show">user： <input type="text" key="name" /></div>
			<div v-else>password： <input type="text" key="password" /></div>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					show1: 'a',
					show: false,
					message: '😁',
				},
				methods: {
					handleBtnClick: function() {
						this.list.push(this.inputValue);
						this.inputValue = '';
					},
				},
			});
		</script>
	</body>
</html>
